html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.main {
  width: 920px;
  margin: 0 auto;
  background-color: #1e2e36;
}

.price,
.name,
.titleproduct,
.instock {
  color: black;
  text-align: center;
  font-size: 18px;
}

.totalPrice {
  display: flex;
  width: 500px;
  font-size: 32px;
  height: 63px;
  background: #44c697;
  margin: 21px auto;
  align-items: center;
  justify-content: center;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.link {
  height: 500px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.goods1 {
  height: auto;
  width: fit-content;
  background-color: #44c697;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 35px auto 0px auto;
}
.imageproduct {
  width: 500px;
  height: 500px;
}

.hr {
  width: 99%;
}

.title {
  font-style: normal;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 14px;
}

@media (max-width: 575px) {
  .main {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    width: 920px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 920px;
    margin: 0 auto;
  }

  @media (min-width: 1400px) {
    .main {
      width: 920px;
      margin: 0 auto;
    }
  }

  @media (min-width: 1700px) {
    .main {
      width: 920px;
      margin: 0 auto;
    }
  }

  @media (min-width: 1818px) {
    .main {
      width: 920px;
      margin: 0 auto;
    }
  }
}
