@import url("http://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");

.container {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: large;
  font-weight: 300;
}

.btn {
  user-select: none;
  width: 80%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #000000;
  margin: 26px 0;
  cursor: pointer;
  margin: 0 auto;
}

.btn p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #000000;
}
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  padding-top: 150px; /* Расположение коробки */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0, 0, 0); /* Цвет запасной вариант  */
  background-color: rgba(0, 0, 0, 0.4); /*Черный с непрозрачностью */
}

.browse {
  position: absolute;
  /* letter-spacing: 12px; */
  white-space: nowrap;
  font-weight: bolder;
  cursor: pointer;
}

.imgin {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.close,
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalcontent {
  background-color: #fff;
  width: 65%;
  height: 500px;
  margin: 0 auto;
}

.inputBox {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 15px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #000000;
  font-size: 1em;
  transition: 0.5s;
  z-index: 10;
}

.inputBox i {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.addtodb {
  border: 1px solid;
  outline: none;
  padding: 11px 25px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  font-family: "Proxima Nova";
  font-weight: 300;
  font-size: 18px;
}

.select {
  width: 100px;
  margin-top: 5px;
  border: 2px solid;
  font-size: 17px;
  padding: 3px;
}

.forma {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.show {
  display: block;
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1818px) {
  .container {
    width: 100%;
  }
}
